.sideMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(137, 137, 137);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .side-menu-list button {
    color: white;
    font-size: 20px;
    margin: 5px;
    border: none;
    background: none;
    width: 120px;
  }
  
  .sideMenu .closeBtn {
    position: absolute;
    top: 0;
    right: 8px;
    font-size: 30px;
    margin-left: 50px;
    color: white;
    border: none;
    background: none;
  }
  
  .side-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .side-menu-list button:hover {
    background-color: rgb(53, 53, 53);
    border-radius: 3px;
  }
#menu-list{
    padding: 16px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

#menu-list button {
    width: 300px;
    height: 40px;
}

#input-area{
    display: none;
    width: 100%;
    font-size: 15px;
    margin-left: 1em;
}

#search-input{
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
}

.search-button{
    margin-left: 0.25em;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(60, 58, 58);
}

.mobile-bar{
    display: flex;
    margin-top: 1em;
    margin-left: 0.25em;
    width: 100%;
    height: 30px;
    font-size: 23px;
}

#menuIcon {
    display: none;
    cursor: pointer;
}

#searchIcon {
    cursor: pointer;
}

.head-line{
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.head-line svg{
    width: 430px;
}

.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1em;
    border-top: 1px solid lightgray;
    border-bottom: 4px double black;
}

.menu button {
    border: none;
    background: none;
    margin: 5px;
}

.menu button:hover{
    background-color: beige;
}

.grid-gallery {
    display: grid;
    grid-gap: 10px;
}

/* 작은 화면 크기일 때(1개씩) */
@media screen and (max-width: 600px) {
    .grid-gallery {
        grid-template-columns: repeat(1, 1fr);
    }
    .menu {
        display: none;
    }
    #menuIcon{
        display: inline;
        margin-right: 0.5em;
    }
    #menu-list{
        width: 100%;
    }
}

/* 중간 화면 크기일 때(2개씩) */
@media screen and (min-width: 601px) and (max-width: 900px) {
    .grid-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 큰 화면 크기일 때(3개씩) */
@media screen and (min-width: 901px) {
    .grid-gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

.news-box {
    margin-top: 1em;
    width: 100%;
    height: 345px;
    border: 1px solid lightgray;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.news-box .image-box{
    width: 100%;
    height: 55%;
}

.news-box .image-box img{
    width: 100%;
    height: 100%;
}

.news-box .contents-box{
    width: 100%;
    height: 45%;
    padding: 0.5em;
}

.news-box .title-box{
    height: 35%;
}

.news-box .title-box h5{
    height: 45%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.news-box .caption-box{
    display: block;
    width: 100%;
    height: 52%;
    border-bottom: 2px dotted lightgray;
    overflow: hidden;
}

.news-box .caption-box p{
    font-size: 15px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.news-box .other-box{
    margin-top: 0.25em;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    height: 13%;
}